@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 18px;
}

.container{
    height: 100vh;
    width: 100vw;
    background-color: hsl(185, 75%, 39%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#top-pattern{
    position: absolute;
    top: -450px;
    left: -350px;
}

#bottom-pattern{
    position: absolute;
    bottom: -500px;
    right: -300px;
}

main{
    position: relative;
    background-color: white;
    text-align: center;
    border-radius: 15px;
    z-index: 1;
    box-shadow: 0 0 30px hsl(229, 23%, 23%);
}

#pattern-card{
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

#bottom{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    padding: 25px;
    border-top: 2px solid hsl(220, 2%, 72%);
}

#profile-img{
    position: absolute;
    top: 90px;
    left: 125px;
    border-radius: 50%;
    border: 5px solid white;
}

#profile-body{
    height: 150px;
    position: relative;
    top: 70px;
}

span{
    font-weight: 400;
}

.light-gray{
    color: hsl(227, 10%, 46%);
}

h3, h4{
    color: hsl(229, 23%, 23%);
}

#attribution{
    position: absolute;
    bottom: 100px;
}
